<mat-sidenav-container class="layout">
  <mat-sidenav mode="side" opened>
    <div class="logo">AI Assistant</div>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span class="title">AI Assistant</span>
      <span class="spacer"></span>
      <button mat-icon-button><mat-icon>search</mat-icon></button>
      <button mat-icon-button><mat-icon>notifications</mat-icon></button>
      <button mat-button [matMenuTriggerFor]="demoMenu">Demo Mode</button>
      <button mat-button><mat-icon>account_circle</mat-icon> Alex Rivera</button>
    </mat-toolbar>

    <mat-menu #demoMenu="matMenu">
      <button mat-menu-item (click)="demoService.resetDemo()">Reset Demo</button>
      @for (scenario of demoService.scenarios; track scenario) {
        <button mat-menu-item (click)="demoService.loadScenario(scenario)">{{ scenario }}</button>
      }
    </mat-menu>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
